*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* скрытый элемент */

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* видео */

video:focus {
  outline: none;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* кнопки */

.button {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 0;
  width: 194px;
  height: 34px;
  font-family: "Fira Sans Condensed", sans-serif;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
}

.button:active {
  background-color: #545050;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

/* страница */

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  width: 1140px;
  margin: auto;
}

/* форма */

.search-form__textfield {
  background-color: transparent;
  appearance: none;
  font-size: 18px;
  width: 225px;
  border: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #fff;
  padding: 0;
  padding-bottom: 2px;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form {
  display: flex;
  align-items: flex-end;
  width: fit-content;
  gap: 40px;
  padding-top: 16px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 4px;
}

input[type="checkbox"] + .search-form__pseudo-checkbox {
  display: flex;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #fff;
  top: 1px;
  left: 1px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  cursor: pointer;
}

/* контент справа*/

.content__list {
  position: relative;
  height: 298px;
  overflow: auto;
}

/* .content__list::-webkit-scrollbar {
  display: none;
}

.content__list {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

.content__list-item {
  margin-bottom: 34px;
}

.content__list-item:last-child {
  margin: 0;
}

.content__details {
  width: 394px;
}

.title {
  font-size: 75px;
  font-weight: 700;
  padding-bottom: 26px;
  line-height: 0.94;
}

.title,
.content__video-card-title {
  font-family: "Oswald", "sans-serif";
  text-transform: uppercase;
}

.content__video-card-title {
  width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__accent {
  color: #545050;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  line-height: 0.9;
  padding-top: 6px;
}

.content__card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 0px;
}

.more-button {
  width: 100%;
}

/* прелоадер */

.preloader-template {
  position: absolute;
  inset: 0;
  z-index: 1;
}
